<a href="">
  <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyuZ6x3zINVWsvpCMCeqXYDgARqcwoO42EOXqzGe30o653HhUg">
</a>
<a href="http://52.172.13.43">
  <img class="backImage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5HMYv3iA_hkp9K9or2cBFvkQk0YDGa5L6p98w2ZCOVQ03r6BLWA">
</a>
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="heading2">
      <h3>
        UCC FIlling
      </h3>
    </div>
  </div>
  <img class="logo2" src="https://i.stack.imgur.com/rSEaz.png">
  <div class="imageButton">
    <button class="tablink" routerLink="/createfilling">Create Filling</button>
    <button class="tablink" routerLink="/showfilling">Show Fillings</button>
  </div>
  <br>
</div>
